#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.exe
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.jfm
*.opensdf
*.unsuccessfulbuild
*.dbmdl
*.refactorlog
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
_NCrunch_DNK*/
*ncrunch*
*crunch*.local.xml
[Tt]est[Rr]esult*
*.dotCover

#Nuget
packages/

.vs/
.sass-cache
*.edb

!build*/bin

.idea
.DS_STORE
